
.slideBarContainer{

}
.item {

    height: 8rem;
    width: 100%;
    background-color: black;
   border-top-style: solid; color: gray;
  
  
   
}

#home{
    height: 8rem;
    width: 100%;
   
    
}



#ticketButton1 {

    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
    
}

#ticketButton2 {

    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
    
}

#ticketButton3 {

    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
    
}

.slideBar {

    display: flex;
  justify-content: space-around;
    position: absolute;
   /*  padding-left: 1rem; */
    animation-name: opacity3;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    
   
}

.slideBar2 {

    display: flex;
    justify-content: space-around;
    position: absolute;
    animation-name: opacity2;
    animation-iteration-count: infinite;
    animation-duration: 20s;

}

.slideBar3 {

    display: flex;
    justify-content: space-around;
    position: absolute;
    animation-name: opacity1;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    
}
.date {
    display: flex;
    flex-direction:column; 
    justify-content: center;
    align-items: center;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes opacity1 {

    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}

@keyframes opacity2 {

    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes opacity3 {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }

    
    90%{
        opacity: 0;
    }
    
    100%{
        opacity: 0;
    }
}


#trino {
    background-color: rgba(0, 0, 0, 0.09);
    padding-top: 7rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.trinoHome {
    background-image: url('../img/trino.jpeg');
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 30rem;
    width: 30rem;
    padding: 1rem 1rem;
    
}

.fa-play{
    font-size: 2rem;
} 
    
    







