#trino {
    background-color: rgba(0, 0, 0, 0.09);
    padding-top: 7rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.trinoHome {
    background-image: url('../img/trino.jpeg');
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 30rem;
    width: 30rem;
    padding: 1rem 1rem;
    
}

.fa-play{
    font-size: 2rem;
}

#bio {
    padding-top: 6rem;
   
}

.bioText {
    text-transform: capitalize;
    color: orange;
    font-weight: 900;
    text-shadow: 1rem;
    font-size: 3.5rem;
    font-family: 'Raleway', sans-serif;
}

.circleBio {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border-style: double;
    color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioContainer {
    display: flex;
    justify-content: center;
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.artistImageContainer {
    text-align: center;
    .circleImage {
        margin-top: 6rem;
    }
}

.img1 {
    background-image: url('../img/juan.jpg');
    height: 25rem;
    width: 25rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
   
}

.img2 {
    background-image: url('../img/andres.jpg');
    height: 25rem;
    width: 25rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img3 {
    background-image: url('../img/tiki.jpg');
    height: 25rem;
    width: 25rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.imageHover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: yellow;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s ease;
}

.circleImage:hover .imageHover {
    opacity: 0.70;
}

.add {
    font-size: 5rem;
    color: white;
    background-color: transparent;
}
