header {
    height: 6rem;
    width: 100%;
    background-color: black;
  position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    display: grid;
    grid-template-columns: 1.5fr 4fr 1.5fr;
}



.headerTitle{
color: white;
display: flex;
justify-content: center;
align-items: center;

}
.headerLogo {
display: flex;
justify-content: center;
align-items: center;
width: 6rem;
height: 6rem;

}

.headerImg {
    height: 100%;
    width: 100%;
}
/* =====HAMBURGER====== */

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

#menuToggle {
    display: block;
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}


#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

/*
 * But let's hide the middle one.
 */

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */

#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

/*
 * And let's slide it in from the left
 */

#menuToggle input:checked~ul {
    transform: none;
}

.backMenu{

    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.70)
}

/* ======HUMBURGER END====== */





/* .headerImage {

background-image: url('../img/header.png');
background-size: cover;
background-position: center top;
width: 100%;
height: 12rem;

} */

/* .headerLogo {

    height: 12rem;
    width: 12rem;
    background-image: url('../img/header-logo.png');
background-size: cover;
background-position: center center;
padding-top: 14rem;

}


img {
height: 15rem;
width: 15rem;
}
 */

/* .headerText {

    text-transform: capitalize;
    color: black;
    text-shadow: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
display: flex;
align-items: center;
padding-top: 9%;
padding-left: 1rem;

}

.fas {

    font-size: 2rem;
    z-index: 10000;
    background-color: wheat;
    color: cornflowerblue;
    border-radius: 50%;
} */