* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('../img/back1.jpeg');
    background-position: center center;
    background-size: cover;
}

.Main-title {
    background-image: url('../img/back2.jpg');
    background-position: center center;
    background-size: cover;
    padding: 0.5rem 2rem;
    text-align: right;
}

.Main-container {
    background-color: white;
    background-size: cover;
    margin: 1rem 15rem 10rem 15rem;
    padding: 5rem;
}

.display-flex {
    display: flex;
    justify-content: space-between;

}

.flex {
    flex: 1;
    padding: 1rem;
}

h1 {
    color: white;
    font-size: 3.5rem;
}

h2 {
    color: white;
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
}

.redText {
    color: red;
}

.backgroundRed {
    background-color: red;
}

.backgroundBlue {
    background-color: blue;
}

.backgroundGreen {
    background-color: green;
}

.secondaryTitle {
    padding: 0.1rem 1rem;
}

.redDots {
    border-right-style: dotted; 
    border-right-color: red;
}

.blueDots {
    border-right-style: dotted; 
    border-right-color: blue;
}

