body {
    margin: 0;
    background-color: grey;
}

p {
margin: 0;
}

.root {
    background-color: firebrick;
    margin: 50px;
    padding: 20px 30px
}

.column {
    
    width: 25%;
    float: left;
}

.cleaner {
    clear: both;
}