* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

.textWhite {
    color: white;
}

.redText {
    color: red;
}

.text-capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.algo{
    
}