#home {
    height: 8rem;

   
    
}

.slideBarContainer{

display: flex;
flex-wrap: nowrap;
}


.item {
    height: 8rem;
  
    background-color: black;
    border-top-style: solid;
    color: gray;
    
}


.slideBar {
    display: flex;
    justify-content: space-around;
    width: 20rem;
   
    /* animation-name: opacity1;
    animation-iteration-count: infinite;
    animation-duration: 20s; */
    
}

.slideBar2 {
    display: flex;
    justify-content: space-around;
   
    /* animation-name: opacity2;
    animation-iteration-count: infinite;
    animation-duration: 20s; */
    
}

.slideBar3 {
    display: flex;
    justify-content: space-around;
  
   /*  animation-name: opacity3;
    animation-iteration-count: infinite;
    animation-duration: 20s; */
}

.slideBar4 {
    display: flex;
    justify-content: space-around;
   /*  position: absolute; */
    /* animation-name: opacity4;
    animation-iteration-count: infinite;
    animation-duration: 20s; */
}

.cleaner{
    clear: both;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticketButton1 {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

#ticketButton2 {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

#ticketButton3 {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

#ticketButton4 {
    height: 3rem;
    width: 10rem;
    display: flex;
    justify-content: right;
    cursor: pointer;
}

/* @keyframes opacity1 {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity2 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity3 {
    0% {
        opacity: 0;
    }
    
    35% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacity4 {
    0% {
        opacity: 0;
    }
    
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */

#trino {
    background-color: rgba(0, 0, 0, 0.09);
    padding-top: 7rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    border-top-style: hidden;
    border-bottom-style: hidden;
}

.trinoHome {
    background-image: url("../img/trino.jpeg");
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100rem;
    width: 100rem;
    padding: 1rem 1rem;
}

.fa-play {
    font-size: 2rem;
}

/* @keyframes opacity1 {

    0% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}

@keyframes opacity2 {

    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes opacity3 {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }

    
    90%{
        opacity: 0;
    }
    
    100%{
        opacity: 0;
    }
} */

