html {
    font-size: 62.5%;
    font-family: Georgia, 'Times New Roman', Times, serif; color: grey;
}
*{
    box-sizing: border-box;
    margin: 0rem;
}
body{
    padding: 1rem 2rem;
}
h1 {
    font-size: 4rem; color: grey;
    }
    
    h2{
        font-size: 2.5rem; color: rgba(0, 0, 0, 0.7)
    }
    
    h3 {
    
        font-size: 1.5rem;
    }
p{
    font-size: 1.8rem; color: grey;
    padding: 2rem 1rem 1rem 1rem;
}

.bold {
font-weight: bold;
color: black;

}

.logo {
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    background-size: 25rem;
    padding: 10rem;
    margin-top: 2rem;
    border-bottom: dotted; color: lightblue; 

}

.noDots {

    list-style: none;

}

.Dots {

    list-style-type: disc;
}

.uppercase {
    text-transform: uppercase;
}


.Menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem; 
    padding: 2rem 0 1.5rem 0;

    
}
#buscar {
border-color: lightgrey;
}

.mainInput {
    padding: 1.5rem;
}

.mainTitle {
    padding: 3rem;
}

.textRight {
    text-align: right;
    padding-left: 10%;
}

.textLeft {
    text-align: left;
    padding-right: 10%;
}

.borderBottom {
    border-bottom-style: solid; color: grey; 
    padding: 3rem 0 0 0.5rem;
    margin: 0 0.5rem 0 0.5rem;
   
    
    
}

img {
    height: 100%;
    width: 100%;
  
    
}

.jurassicPark {
    height: 30rem;
    width: 60rem;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/park.JPG');
    margin-left: 2rem;
}



.footImages {

    width: 50%;
    float: left;
    padding: 2rem;
   height: 32rem;
   
   
   
}


.cleaner {
    clear: both;
}

.footerBar {

    height: 7rem;
background-color: rgba(0, 0, 0, 0.4);


}

.socialMedia {

    width: 33.3%;
    float: left;
}

