

.agendaImg{
    background-image: url('../img/coliseo.jpg');
    width: 100%;
    height: 16rem;
    background-position: center center;
    background-size: cover;
    border-radius: 2%;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.agendaTitle{

padding: 1rem;
}

.agendaText{
    color: white;
    font-family: $primary-font;
    font-size: 2.5rem;
   
   

}

/* =======MEDIA QUERYES======= */


// =====Phone 425px =======


@media (min-width: 425px){


    .agendaImg{
       
        height: 18rem;
       
    }
    
    
}


/* ==TABLET== */

@media (min-width: 768px){


    .agendaImg{
        
        height: 30rem;
       
    }
    
    .agendaTitle{

        padding: 2rem;
        }


    .agendaText{
        
        font-size: 4rem;
      
    }

}

/* ====LAPTOP 1024=== */


@media (min-width: 1024px){

    .agendaImg{
        
        height: 40rem;
       
    }
    
    .agendaTitle{

        padding: 2.5rem;
        }


    .agendaText{
        
        font-size: 4.5rem;
      
    }



}



/* ====LAPTOP 1440=== */


@media (min-width: 1440px){


    .agendaImg{
        
        height: 56rem;
       
    }

    .agendaTitle{

        padding: 3.5rem;
        }
    
    .agendaText{
        
        font-size: 4.8rem;
    
    }

}


/* ====LAPTOP 4k=== */


@media (min-width: 2560px){

    .agendaImg{
        
        height: 100rem;
       
    }

    .agendaTitle{

        padding: 6rem;
        }
    
    .agendaText{
        
        font-size: 9rem;
    
    }


}