#bio {
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: none;
}

.bioText {
    text-transform: capitalize;
    color: $title-color;
    font-weight: 900;
    text-shadow: 1rem;
    font-size: 3.2rem;
    font-family: $font-title;
}


.circleBio {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    border-style: double;
    color: $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bioContainer {
    display: flex;
    justify-content: center;
    border-top-style: hidden;
    border-bottom-style: hidden;
   
    
}

.artistImageWrapper {
    text-align: center;

 }
    .circleImage {
        margin-top: 6rem;
     
        
    }


.img1 {
    background-image: url('../img/juan.jpg');
    height: 23rem;
    width: 23rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: transform 400ms ease;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.img2 {
    background-image: url('../img/andres.jpg');
    height: 23rem;
    width: 23rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: transform 400ms ease;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.img3 {
    background-image: url('../img/tiki.jpg');
    height: 23rem;
    width: 23rem;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: transform 400ms ease;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
   
  
}

.img1:hover {
    transform: scale(1.1);
    animation-duration: 10s;
    transition: transform 500ms ease;
}

.img2:hover {
    transform: scale(1.1);
    animation-duration: 10s;
    transition: transform 500ms ease;
}

.img3:hover {
    transform: scale(1.1);
    animation-duration: 10s;
    transition: transform 500ms ease;
}



.bioTextImg{

    text-transform: capitalize;
    font-family: $font-title;
    font-size: 1.8rem;

}

.bioTextImgFooter{

    font-family: $primary-font;
    font-size: 1rem;
    margin: 0.7rem 0rem;
}


/* =======MEDIA QUERYES======= */


// =====Phone 425px =======


@media (min-width: 425px){

    #bio {
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    
   
    .bioText {
       
        font-size: 4rem;
       
    }
    
    .circleBio {
        height: 13rem;
        width: 13rem;
        
    }

    .circleImage {
        margin-top: 9.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .img1 {
      
        height: 28rem;
        width: 28rem;
    
    }
    
    .img2 {
       
        height: 28rem;
        width: 28rem;
   
    }
    
    .img3 {
        height: 28rem;
        width: 28rem;
       
    }

    .bioTextImg{

        
        font-size: 2.2rem;
    
    }
.bioTextImgFooter{

   
    font-size: 1.1rem;
    margin: 1rem 0rem;
}
}

/* ==TABLET== */

@media (min-width: 768px){

    #bio {
        padding-top: 12rem;
        padding-bottom: 6rem;
    }
    .bioText {
       
        font-size: 4.5rem;
       
    }
    
    .circleBio {
        height: 16rem;
        width: 16rem;
        
    }

    .artistImageWrapper {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
     }
}


/* ====LAPTOP 1024=== */


@media (min-width: 1024px){


    #bio {
        padding-top: 15rem;
        padding-bottom: 12rem;
    }

   
    
  
    .artistImageWrapper {
        margin-top: 2rem;
          
        }

        .img1 {
      
            height: 26rem;
            width: 26rem;
        
        }
        
        .img2 {
           
            height: 26rem;
            width: 26rem;
       
        }
        
        .img3 {
            height: 26rem;
            width: 26rem;
           
        }

        .bioTextImg{

        
            font-size: 2.4rem;
        
        }
    .bioTextImgFooter{
    
       
        font-size: 1.2rem;
        margin: 1rem 0rem;
    }

}

/* ====LAPTOP 1440=== */


@media (min-width: 1440px){

    #bio {
        padding-top: 17rem;
        padding-bottom: 14rem;
    }

    .bioText {
       
        font-size: 5.5rem;
       
    }
    
    .circleBio {
        height: 18rem;
        width: 18rem;
        
    }
    .artistImageWrapper {
        margin-top: 3rem;
        margin-bottom: 3rem;
        
          
        }

        .img1 {
      
            height: 32rem;
            width: 32rem;
        
        }
        
        .img2 {
            height: 32rem;
            width: 32rem;
        }
        
        .img3 {
            height: 32rem;
            width: 32rem;
           
        }

        .bioTextImg{

        
            font-size: 2.5rem;
        
        }
    .bioTextImgFooter{
    
       
        font-size: 1.6rem;
        margin: 1rem 0rem;
    }


}

/* ====LAPTOP 4k=== */


@media (min-width: 2560px){


    #bio {
        padding-top: 25rem;
        padding-bottom: 18rem;
    }

    .bioText {
       
        font-size: 10rem;
       
    }
    
    .circleBio {
        height:35rem;
        width: 35rem;
        
    }
    .artistImageWrapper {
        margin-top: 18rem;
        margin-bottom: 16rem;
        }

        .img1 {
      
            height: 60rem;
            width: 60rem;
        
        }
        
        .img2 {
           
            height: 60rem;
            width: 60rem;
        
       
        }
        
        .img3 {
            height: 60rem;
            width: 60rem;
        
           
        }

        .bioTextImg{

        
            font-size: 5rem;
        
        }
    .bioTextImgFooter{
    
       
        font-size: 2.5rem;
        margin: 1rem 0rem;
    }

}