header {
    height: 17rem;
    width: 100%;
    background-image: url('../img/header.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    padding: 1rem 1rem;
}



.headerCircle {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border-style: double;
    color: $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5rem;
}

.textHeader {
    color: $title-color;
    font-weight: 900;
    text-shadow: 1rem;
    font-size: 2rem;
    font-family: $primary-font;
}



.navbar {
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.50);
top: 0;
left: 0;
position: sticky;

z-index: 2000;
}

.fa-times{
    font-size: 3.5rem;
    color: rgba(0,0,0,0.85);
    margin: 1rem;
    position: absolute;
  
   
}

.fa-bars{
    font-size: 3rem;
    color: rgba(0,0,0,0.85);
    margin: 1rem;
    position: relative;

   
}



#toggleMenu{
height: 1000vh;
width: 1000vh;
background-color: rgba(0,0,0,0.50);
display: none;
left: 0;
top:0;
position: absolute;

}

#menuContainer{
    height: 1000vh;
    width: 35rem;
    background-color: whitesmoke;
    z-index: 10000;
    
}

#menu {
 
    list-style: none;
    font-size: 2.5rem;
    font-style: $primary-font;
    /* padding: 6rem 6rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}
li{
    margin: 1.5rem 0;
}

/* =======MEDIA QUERYES======= */

/* ==TABLET== */

@media (min-width: 48em){

    header {
        height: 28rem;
     
    }

    .headerCircle {
        height: 16rem;
        width: 16rem;
      margin: 2rem 1rem;
    }
    
    .textHeader {
       
        font-size: 4rem;
        
    }

}

/* ====LAPTOP 1024=== */


@media (min-width: 64em){

    header {
        height: 36rem;
     
    }

    .headerCircle {
        height: 20rem;
        width: 20rem;
      margin: 3rem 2.5rem;
    }
    
    .textHeader {
       
        font-size: 4.5rem;
        
    }

}

/* ====LAPTOP 1440=== */


@media (min-width: 90em){

    header {
        height: 50rem;
     
    }

    .headerCircle {
        height: 27em;
        width: 27rem;
      margin: 6.5rem 4.5rem;
    }
    
    .textHeader {
       
        font-size: 6.5rem;
        
    }

}



/* ====LAPTOP 4k=== */


@media (min-width: 160em){

    header {
        height: 90rem;
     
    }

    .headerCircle {
        height: 55em;
        width: 55rem;
      margin: 8rem 6rem;
    }
    
    .textHeader {
       
        font-size: 14rem;
        
    }

    .fa-bars{
        font-size: 8rem;
        color: rgba(0,0,0,0.85);
        margin: 5rem;
       
    
    }
    

}